<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns="https://schema.phpunit.de/12/config"
        bootstrap="./tests/Bootstrap.php"
        colors="true"
        verbose="true"
        stopOnFailure="false">

    <testsuites>
        <testsuite name="Sastrawi tests">
            <directory suffix=".php">./tests/SastrawiTest</directory>
        </testsuite>
        <testsuite name="Sastrawi Functional tests">
            <directory suffix=".php">./tests/SastrawiFunctionalTest</directory>
        </testsuite>
        <testsuite name="Sastrawi Integration tests">
            <directory suffix=".php">./tests/SastrawiIntegrationTest</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>

</phpunit>
