<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        stopOnFailure="false"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnPhpunitDeprecations="true"
>
    <testsuites>
        <testsuite name="Sastrawi tests">
            <directory suffix=".php">./tests/SastrawiTest</directory>
        </testsuite>
        <testsuite name="Sastrawi Functional tests">
            <directory suffix=".php">./tests/SastrawiFunctionalTest</directory>
        </testsuite>
        <testsuite name="Sastrawi Integration tests">
            <directory suffix=".php">./tests/SastrawiIntegrationTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
